{% load staticfiles %}

<!DOCTYPE html>
<html style="font-size: 10px">
    <head><meta charset=utf-8>
        <meta name=viewport content="width=device-width,initial-scale=1">
        <meta name=referrer content=no-referrer>
        <link rel="stylesheet" href="{% static "css/reset.css" %}">
        <script src='{% static "js/flex.js" %}'></script>
        <title>pro</title>
        <link rel="stylesheet" href={% static "css/app.ee9bd9e2cea47f562d55e46999d7a0d0.css" %}>

    </head>
    <body>
        <div id=app>
    </div>
<script type=text/javascript src={% static 'js/manifest.2ae2e69a05c33dfc65f8.js' %}>
</script>
<script type=text/javascript src={% static 'js/vendor.5b31e672fe01e4774667.js' %}>
</script>
<script type=text/javascript src={% static 'js/app.7e520787722f834e8c0e.js' %}></script>
</body>
</html>
